{% set ex1 = '<z-checkbox label="checkbox input"></z-checkbox>' %}
<div class="container">
    <h2>Checkbox</h2>

    <pre data-lang="html"><code class="lang-html">{{ ex1 | escape }}</code></pre>

    <z-checkbox label="checkbox input"></z-checkbox>
    <z-checkbox label="checkbox input after label" right></z-checkbox>
    <z-checkbox label="checkbox input checked" checked></z-checkbox>
    <z-checkbox label="checkbox input disabled" disabled></z-checkbox>
    <z-checkbox label="checkbox input checked & disabled" checked disabled></z-checkbox>
</div>