{% set ex1 = '<z-input label="Text input"></z-input>' %}

<div class="container">
    <h2>Input</h2>

    <pre data-lang="html"><code class="lang-html">{{ ex1 | escape }}</code></pre>

    <z-input label="Text input"></z-input>
    <z-input label="Text input with default value" value="default value"></z-input>
    <z-input label="Text input disabled" value="disabled" disabled></z-input>
    <z-input label="Text input required" required></z-input>
    <z-input label="Text input readonly" value="readonly" readonly></z-input>
    <z-input label="Color input" type="color"></z-input>
    <z-input label="Date input" type="date"></z-input>
    <z-input label="DateTime Local input" type="datetime-local"></z-input>
    <z-input label="Email input" type="email"></z-input>
    <z-input label="Month input" type="month"></z-input>
    <z-input label="Number input" type="number"></z-input>
    <z-input label="Password input" type="password"></z-input>
    <z-input label="Search input" type="search"></z-input>
    <z-input label="Tel input" type="tel"></z-input>
    <z-input label="Time input" type="time"></z-input>
    <z-input label="Url input" type="url"></z-input>
    <z-input label="Week input" type="week"></z-input>
    <z-input label="Yolo input" type="yolo"></z-input>
</div>
