{% set themes = [
    { name: 'dark-green', value: '#33AA77' },
    { name: 'light-green', value: '#77AA33' },
    { name: 'blue', value: '#3377AA' },
    { name: 'purple', value: '#7733AA' },
    { name: 'pink', value: '#AA3377' },
    { name: 'orange', value: '#AA7733' }
] %}

<div class="theme-switcher">
    {% for color in themes %}
        <button 
            class="theme-item" 
            title="Switch to {{ color.name }} theme" 
            data-color="{{ color.value }}"
            style="background-color: {{ color.value }};">
            <!-- color: {{ color.name }} -->
        </button>
    {% endfor %}
</div>