{% from "../macros/example.njk" import example %}

{% set rightExample %}
<z-checkbox label="checkbox input after label" right></z-checkbox>
<z-checkbox label="checkbox input"></z-checkbox>
{% endset %}

{% set disabledExample %} 
<z-checkbox label="checkbox input disabled" disabled></z-checkbox>
<z-checkbox label="checkbox input checked & disabled" checked disabled></z-checkbox>
{% endset %}

{% set changeEventExample %}
<z-checkbox id="change-event-checkbox" label="Checkbox with z-change event"></z-checkbox>
<p>Result: <b id="change-event-result">?</b></p>

<script>
    const $checkbox = document.querySelector('#change-event-checkbox')
    const $result = document.querySelector('#change-event-result')

    $checkbox.addEventListener('z-change', ({ detail }) => {
        $result.innerText = detail.value
    })
</script>
{% endset %}

<div class="container">
    <h2>Checkbox</h2>

    <p><code>{{ '<z-checkbox>' | escape }}</code> is a component that provides the same functionality as a native <code>{{ '<input type="checkbox">' | escape }}</code> enhanced with a better and unified design.</p>

    {{ example(template='<z-checkbox label="checkbox input"></z-checkbox>', about="checkbox input") }}

    <hr>
    <h3 id="attributes">Attributes</h3>

    <h4 id="attributes-label">Label</h4>

    <p>The <b>label</b> attribute provides a clickable label for the <code>{{ '<z-checkbox>' | escape }}</code> component.</p>

    {{ example(template='<z-checkbox label="checkbox input"></z-checkbox>', about="checkbox input label") }}

    <h4 id="attributes-right">Right</h4>

    <p>The <b>right</b> attribute makes the <code>{{ '<z-checkbox>' | escape }}</code> component appear after its label.</p>

    {{ example(template=rightExample, about="checkbox input after label") }}

    <h4 id="attributes-checked">Checked</h4>

    <p>The <b>checked</b> attribute is watched and makes the checkbox beeing checked if provided (no value needed).</p>
    <p>This attribute can also be used for setting a default value to the component.</p>

    {{ example(template='<z-checkbox label="checkbox input checked" checked></z-checkbox>', about="checkbox input checked") }}

    <h4 id="attributes-disabled">Disabled</h4>

    <p>The <b>disabled</b> attribute prevents the checkbox from beeing used and gives it an understandable styling.</p>

    {{ example(template=disabledExample, about="checkbox input disabled") }}

    <hr>
    <h3 id="accessibility">Accessibility</h3>

    <p>The <code>{{ '<z-checkbox>' | escape }}</code> component works with the native <code>{{ '<input type="checkbox">' | escape }}</code> element to provide an accessible experience.</p>

    <hr>
    <h3 id="events">Events</h3>

    <h4 id="events-change">z-change</h4>

    <p>The <b>z-change</b> event is fired whenever the value of the checkbox changes. It is a <a href="https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent">CustomEvent</a>.</p>

    <p>This event provides a <b>detail</b> object containing the new value of the checkbox.</p>

    {{ example(template=changeEventExample, about="z-change event") }}
</div>