{% set browserlist = 
'"browserslist": [
  ">2%",
  "Edge > 14",
  "Firefox > 63",
  "Chrome > 67"
]' %}

{% set createElements %}
<z-input label="Text input with default value" value="default value"></z-input>

<z-textarea label="Textarea input with default value" value="default value"></z-textarea>

<z-checkbox label="checkbox input checked" checked></z-checkbox>

<z-toggle label="toggle input active" active></z-toggle>

<z-radio-group name="radio-demo" value="2">
    <z-radio label="radio input" value="1"></z-radio>
    <z-radio label="radio input" value="2"></z-radio>
</z-radio-group>

<z-tab-group>
    <z-tab label="tab-1">This is tab 1.</z-tab>
    <z-tab label="tab-2">This is tab 2.</z-tab>
    <z-tab label="tab-3">This is tab 3.</z-tab>
</z-tab-group>
{% endset %}

{% set cdn %}
<!-- unpkg -->
<script src="https://unpkg.com/z-web-components"></script>

<!-- jsdeliver -->
<script src="https://cdn.jsdelivr.net/npm/z-web-components@latest"></script>
{% endset %}

{% set cssColors =
':root {
    --z-primary-color: #3A7;
    --z-secondary-color: #929595;
    --z-secondary-alt-color: #787C7C;
    --z-danger-color: #D22;
    --z-tick-color: #F2F5F5;
}'%}

<div class="container">
    <h2>Quick start</h2>

    <p>Get started with <b>z-web-components</b>, an opinionated set of web components for building strong and fast applications.</p>

    <hr>
    <h3>Installation</h3>

    <h4>Via package manager</h4>

    <p>Install <b>z-web-components</b> into nearly any project with some of the most popular package managers.</p>

    <pre data-about="Via npm"><code class="lang-bash">npm i z-web-components</code></pre>
    <pre data-about="Via yarn"><code class="lang-bash">yarn add z-web-components</code></pre>

    <p>Add a <code>browserslist</code> key to your <code>package.json</code> file.</p>

    <div class="notif">This is a temporary workaround i found to <a href="https://github.com/parcel-bundler/parcel/issues/2128">this error</a>.</div>

    <pre><code class="lang-javascript">{{ browserlist | escape }}</code></pre>

    <p>Import the library in you javascript bundle.</p>

    <pre><code class="lang-javascript">import 'z-web-components'</code></pre>

    <h4>Via CDN</h4>

    <p>You can also use any cdn provider that mirrors npm packages.</p>

    <pre data-about="Via cdn"><code class="lang-html">{{ cdn | trim | escape }}</code></pre>
    
    <hr>
    <h3>Usage</h3>

    <p>Use the elements in your website (more info on the individual documentation pages).</p>

    <pre><code class="lang-html">{{ createElements | trim | escape }}</code></pre>

    <hr>
    <h3>Customisation</h3>

    <p>You can customize some colors via css variables.</p>

    <pre data-about="css colors"><code class="lang-css">{{ cssColors | escape }}</code></pre>
</div>