header {
    background-color: var(--z-primary-color);
    color: #fff;
}

footer {
    border-top: 1px solid var(--z-secondary-color);
    padding: 1rem 0;
}

main {
    display: flex;

    article {
        flex: 1;
        margin-right: $menu-width;
    }

    aside {
        position: sticky;
        top: 1rem;
        left: 1rem;
        height: 100%;
        width: $menu-width;
        margin: 1rem;
    
        nav {
            display: flex;
            flex-direction: column;
            border-radius: .25rem;
            background: $silver;
            overflow: hidden;
    
            a {
                display: block;
                padding: 1rem;
                color: #000;
    
                &:hover,
                &:focus {
                    background-color: darken($silver, 5%);
                }
                
                &.active {
                    background-color: darken($silver, 5%);
                    color: var(--z-primary-color);
                }
            }
        }
    }
}

z-checkbox,
z-toggle,
z-radio {
    display: block;
}
