*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background-color: var(--white);
    color: var(--black);
    scroll-behavior: smooth;
}

body {
    font-family: $normal-font;
    font-size: 100%;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: .75em 0 .25em;
}

h1 {
    font-family: $funny-font;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
}

h2 {
    font-size: 3rem;
    font-weight: 100;
}

h3 {
    font-size: 2rem;
    font-weight: 900;
}

h4 {
    font-size: 1.5rem;
    font-weight: 900;
}

hr {
    margin: 4rem 1rem;
    border: none;
    border-bottom: 1px solid var(--z-secondary-color);
}

a {
    color: var(--z-primary-color);
    text-decoration: none;
    
    &:focus {
        outline-color: var(--z-primary-color);
    }
}

button {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-align: center;
    
    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline-color: var(--z-primary-color);
    }
}

ul {
    list-style-position: inside;
    padding: 0;

    li {
        padding: .25rem 1rem;
    }
}

code {
    background-color: var(--silver);
    color: $black;
    font-family: $monospace-font;
    display: inline-block;
    border-radius: .25rem;
    padding: .25em .75em .15em;
}

pre {
    margin: 1rem 0;
    position: relative;

    code {
        background-color: $black;
        color: $white;
        display: block;
        border-radius: 0;
    }
}

::selection {
    background-color: var(--z-primary-color);
    color: var(--white);
}
