$white: #f2f5f5;
$silver: #d2d5d5;
$gray: #929595;
$black: #323535;

$green: #3A7;
$red: #D22;
$orange: #F95;

$site-width: 45rem;
$menu-width: 18rem;

$breakpoint-sm: $site-width;
$breakpoint-md: $site-width + $menu-width;
$breakpoint-lg: $site-width + 2 * $menu-width;

$normal-font: 'Raleway', sans-serif;
$monospace-font: monospace;
$funny-font: 'Sedgwick Ave', cursive;

$box-shadow: 0 0 .5rem rgba(black, .3);

// CSS Variables
:root {
    --white: #{$white};
    --silver: #{$silver};
    --gray: #{$gray};
    --black: #{$black};

    --z-primary-color: #{$green};
    --z-secondary-color: #{$gray};
    --z-secondary-alt-color: #{darken($gray, 10%)};
    --z-danger-color: #{$red};
    --z-tick-color: #{$white};
    --z-background-color: #{lighten($silver, 5%)};
    
    @media (prefers-color-scheme: dark) {
        --white: #{$black};
        --silver: #{$gray};
        --gray: #{$silver};
        --black: #{$white};
        
        --z-secondary-color: #{$silver};
        --z-secondary-alt-color: #{darken($silver, 10%)};
        --z-tick-color: #{$black};
        --z-background-color: #{darken($gray, 5%)};
    }
}
