{% extends "./html/base.njk" %}

{% block nav %}
    {% set selected = 'checkbox' %}
    {% include "./html/partials/navigation.njk" %}
{% endblock %}

{% block main %}
    {% include "./html/pages/checkbox.njk" %}
{% endblock %}