{% extends "./html/base.njk" %}

{% block nav %}
    {% set selected = 'input' %}
    {% include "./html/partials/navigation.njk" %}
{% endblock %}

{% block main %}
    {% include "./html/pages/input.njk" %}
{% endblock %}