{% extends "./html/base.njk" %}

{% block nav %}
    {% set selected = 'radio' %}
    {% include "./html/partials/navigation.njk" %}
{% endblock %}

{% block main %}
    {% include "./html/pages/radio.njk" %}
{% endblock %}