{% extends "./html/base.njk" %}

{% block nav %}
    {% set selected = 'tab' %}
    {% include "./html/partials/navigation.njk" %}
{% endblock %}

{% block main %}
    {% include "./html/pages/tab.njk" %}
{% endblock %}