{% extends "./html/base.njk" %}

{% block nav %}
    {% set selected = 'textarea' %}
    {% include "./html/partials/navigation.njk" %}
{% endblock %}

{% block main %}
    {% include "./html/pages/textarea.njk" %}
{% endblock %}