{% extends "./html/base.njk" %}

{% block nav %}
    {% set selected = 'toggle' %}
    {% include "./html/partials/navigation.njk" %}
{% endblock %}

{% block main %}
    {% include "./html/pages/toggle.njk" %}
{% endblock %}